.encabezado-1{
  color:grey;
  width: 10%;
  height: 10%;
  background-color:darkgrey;
}

body{
  background-image: url("Red.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.menu-redes{
  display: flex;
  justify-content:space-around;
  height: 30px;
  color:white;
  width: 100%;
  pad: 0;
}


.menu-redes a{
  color:white;
  text-decoration: none;
}

.contenido {
  align-items: center;
  display: flex;
  height:900px;
  justify-content: center;
  width: 1700px;
  background: #5f015a;
  color: rgb(255, 255, 255);
  
  opacity: 0.3;
}

.cuerpo{

  position:absolute;
  left: 80px;
  top: 250px;

}

h1{
  color:aliceblue
}
p{
  color:white;
  
}

button{
  margin: 13px;
}

